*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Fredoka', sans-serif;;
    background-color: black;
}

.container{
    max-width: 1080px;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    
}
h1{
    color: #e53170;
    
}
p,h1 {
    text-align: center;

}

header, p{
    margin-bottom: 30px;
}
.card{
    height: 100px;
    color: white;
    background-color: black;
    width: calc(100%/3 - 20px); 
    float: left;
    margin: 10px;
}
img {
    width: 100px; 
    height: 100%; 
    float: left;
    margin-right:10px ;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
a{
    color: #59c5da;
    cursor: pointer;
    text-decoration: none;
}

.card > h3{
    margin-top: 15px;
    margin-bottom: 5px;
}

.card > a{
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}
