*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Fredoka', sans-serif;;
    background-color: black;
}

.container{
    max-width: 1080px;
    margin: 60px auto;
    text-align: center;
    background-color: white;
    
}
h1{
    color: #e53170;

}
.intestazione{
padding: 40px;
}
